[Unit]
Description=PANDA Data Logging 2
After=multi-user.target

[Service]
Type=idle
User=root
Group=root
ExecStart=/home/pi/timeswipe/driver/examples/DataLogging2/build/main --config /home/pi/timeswipe/driver/examples/DataLogging2/config.json --output /mnt/data

[Install]
WantedBy=multi-user.target


