name: Publish Docker timeswipe_arch
on:
  push:
    branches:
      - master
    paths:
      - 'driver/Dockerfile.arch'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@2.13
      with:
        name: pandaofficial/timeswipe_arch
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: driver/Dockerfile.arch
